{% extends 'layout.html' %}


{% block body %}

<h3>Hakkımızda</h3>

<hr>
Mert Yağcıoğlu was born in İstanbul, Turkey. He received his B.S degree in Electrical and Electronics Engineering from Yeditepe University in Turkey, in 2009.  He received the M.S. and PhD. degrees in Electric and Computer Engineering specialty from Altınbaş University in 2015, and 2019, respectively. His main research interests include, Scheduling Algorithms, Radio Resource Management (RRM) and Interference Coordination for the wireless communication systems.
<hr>

{% endblock body %}

